<!-- no footer at all! -->
<footer class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col small text-center text-muted">
        {{ site.data.footer.copyright }}
      </div>
      <div class="col small text-center text-muted">
        {{ site.data.footer.rag_soc }}
      </div>
      <div class="small text-center text-muted col">
        {% for link in site.data.footer.links %}
            <a href="{{ link.url }}" {% assign new_window_is_not_empty = link.new_window | is_not_empty %}
            {% if new_window_is_not_empty %}target="_blank" rel="noopener"
            {% endif %}>{{ link.text }}</a>
        {% endfor %} 
      </div>
    </div>
  </div>
</footer>
