
{% assign pricing = site.data.pricing[include.target] %}


<div class="snip1214">
  {% for plan in pricing["plans"] %}
    <div class="plan {% if plan["highlighted"] %}featured{% endif %}">
      <h3 class="plan-title">
        {{ plan["name"] }}
      </h3>
      <div class="plan-cost"><span class="plan-price">{{ plan["price"] }}</span><span class="plan-type">/ {{ pricing["frequency"] }}</span></div>
      <ul class="plan-features">
        {% for feature in plan["features"] %}
          <li><i class="ion-checkmark" {% if feature.size == 0 %} style="opacity: 0;"{% endif %}></i>{{feature}}</li>
        {% endfor %}
      </ul>
      <div class="plan-select"><a href="{{ site.data.payment_url }}?plan={{ plan["name"] }}&target={{ include.target }}&product={{ site.product_name }}">Select Plan</a></div>
    </div>
  {% endfor %}
</div>