<section class="{% if section.no_space %}page-section-no-margin-top{% else %}page-section{% endif %} {{ section.background_style }}" id="{{ section.section_id }}">
    <div class="container">
    <h2 class="text-center mt-0">{{ section.title }}</h2>
    <hr class="divider my-4">
    <div class="row justify-content-center">
        {% include pricing_table.html %}
    </div>
    {% if include.target == "covid_surveillance" %}
        <div class="row justify-content-center">
            <div class="snip1214" style="margin: 0;">
                <div class="plan-select"><a href="{{ site.payment_url }}?plan_cod={{ pricing.cod }}" style="padding: inherit;"><h3>Acquista</h3></a></div>
            </div>
        </div>
    {% endif %}
    </div>
</section>