<section class="{% if section.no_space %}page-section-no-margin-top{% else %}page-section{% endif %} {{ section.background_style }}" id="{{ section.section_id }}">
  <div class="container">
    <h2 class="text-center mt-0">{{ section.title }}</h2>
    <hr class="divider my-4">
    <div class="row justify-content-center">
      <!-- {#% assign cols = section.services.size | at_most: 4 %#} -->
      {% assign cols = section.services.size %}
      {% if cols > 4 %}
        {% assign cols = 4 %}
      {% endif %}

      {% assign colsL = 12 | divided_by: cols %}
      {% assign colsM = colsL | times: 2 %}

      {% for service in section.services %}
        {% assign service_description = site.service_descriptions | where: "identifier",service.identifier | first %}
        {% assign service_url = service_description.url %}
        {% assign service_pricing = site.pricing | where: "identifier",service.identifier | first %}
        {% assign service_pricing_url = service_pricing.url %}

      <div class="col-lg-{{ colsL }} col-md-{{ colsM }} text-center">
        <div class="mt-5">
          <a href="{{ service_url }}">
            <img src="assets/img/services/{{ service.icon }}" width="100" class="text-primary mb-4">
          </a>
          <h3 class="h4 mb-2">{{ service.title }}</h3>
          {% if service.subtitle %}
          <h4 class="h5 mb-2 text-purple">{{ service.subtitle }}</h4>
          {% endif %}
          <div class="text-muted mb-0">
            {{ service.text | markdownify }}
            <a href="{{ service_pricing_url }}" class="btn btn-info" role="link">Acquista</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
